<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter [
<!ENTITY % all.entities SYSTEM "all-entities.ent">
%all.entities;
]>
<section version="5.0" xml:id="config" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
         xmlns:m="http://www.w3.org/1998/Math/MathML" xmlns:html="http://www.w3.org/1999/xhtml"
         xmlns:db="http://docbook.org/ns/docbook">
  <title>Konfigurationsüberblick</title>

  <para><emphasis role="bold">Einführung</emphasis></para>

  <para>Es gibt verschiedene Konfigurationsdateien, die Sie erstellen oder editieren müssen, bevor Sie irgendetwas überwachen
  können. Haben Sie Geduld! &name-icinga; zu konfigurieren kann eine Weile dauern, besonders wenn Sie ein Neuling sind. Sobald Sie
  herausgefunden haben, wie die Dinge funktionieren, werden Sie feststellen, dass es die Mühe wert ist. :-)</para>

  <para><inlinemediaobject>
      <imageobject>
        <imagedata fileref="../images/note.gif" format="GIF"></imagedata>
      </imageobject>
    </inlinemediaobject> Anmerkung: Beispiel-Konfigurationsdateien werden im
  <emphasis>&url-icinga-base;/etc/</emphasis>-Verzeichnis installiert, wenn Sie der <link
  linkend="quickstart">Schnellstart-Installationsanleitung</link> folgen.</para>

  <mediaobject>
    <imageobject>
      <imagedata align="right" fileref="../images/configoverview.png" format="PNG"></imagedata>
    </imageobject>
  </mediaobject>

  <para><emphasis role="bold">Hauptkonfigurationsdatei</emphasis></para>

  <para>Die Hauptkonfigurationsdatei enthält eine Reihe von Direktiven, die die Arbeitsweise des &name-icinga;-Daemon
  beeinflussen. Diese Konfigurationsdatei wird vom &name-icinga;-Daemon und den CGIs gelesen. Hier werden Sie in Ihr
  Konfigurationsabenteuer starten wollen.</para>

  <para>Dokumentation zur Hauptkonfigurationsdatei finden Sie <link linkend="configmain">hier</link>.</para>

  <para><emphasis role="bold">Ressource-Datei(en)</emphasis></para>

  <para>Ressource-Dateien können zur Speicherung von benutzerdefinierten Makros genutzt werden. Der Hauptgrund für
  Ressource-Dateien liegt darin, dass sie genutzt werden können, um sensible Informationen (wie z.B. Passworte) zu speichern, ohne
  dass sie für CGIs zugänglich sind, weil diese Dateien nicht von den CGIs gelesen werden.</para>

  <para>Sie können eine oder mehrere optionale Ressource-Dateien mit Hilfe der <link
  linkend="configmain-resource_file">resource_file</link>-Direktive in Ihrer Hauptkonfigurationsdatei angeben.</para>

  <para><emphasis role="bold">Objektdefinitionen-Dateien</emphasis></para>

  <para>Objektdefinitionen-Dateien werden genutzt, um Hosts, Services, Hostgruppen, Kontakte, Kontaktgruppen, Befehle usw. zu
  definieren. Hier definieren Sie, welche Dinge Sie überwachen wollen und wie Sie diese überwachen wollen.</para>

  <para>Sie können eine oder mehrere Objektdefinitionen-Dateien mit Hilfe der <link linkend="configmain-cfg_file">cfg_file</link>-
  und/oder <link linkend="configmain-cfg_dir">cfg_dir</link>-Direktiven in Ihrer Hauptkonfigurationsdatei angeben.</para>

  <para>Eine Einführung zu Objektdefinitionen und wie sie in Beziehung zu einander stehen, finden Sie <link
  linkend="configobject">hier</link>.</para>

  <para>Ihre Objektkonfigurationsdateien können wiederum andere Dateien einschließen mit Hilfe der <link linkend="configobject-include_file">include_file</link>-
  oder <link linkend="configobject-include_dir">include_dir</link>-Direktiven. Sie können lediglich außerhalb der eigentlichen
  Objektdefinitionen auftreten und verhalten sich analog zu den <link linkend="configmain-cfg_file">cfg_file=</link>- und
  <link linkend="configmain-cfg_dir">cfg_dir=</link>-Direktiven in der Hauptkonfigurationsdatei.</para>

  <para><emphasis role="bold">CGI-Konfigurationsdatei</emphasis></para>

  <para>Die CGI-Konfigurationsdatei enthält eine Reihe von Direktiven, die die Arbeitsweise der <link linkend="cgis">CGIs</link>
  beeinflussen. Sie enthält auch einen Verweis auf die Hauptkonfigurationsdatei, so dass die CGIs wissen, wie Sie &name-icinga;
  konfiguriert haben und wo Ihre Objektdefinitionen gespeichert sind.</para>

  <para>Dokumentation zur CGI-Konfigurationsdatei finden Sie <link linkend="configcgi">hier</link>.</para>
  <indexterm zone="config"><primary>Konfigurationsüberblick</primary></indexterm>
</section>
