/home/croft/icinga-doc/html
/home/croft/icinga-doc/de/*.xml~
/home/croft/icinga-doc/en/*.xml~
/home/croft/icinga-doc/en/*.xml~~
/home/croft/icinga-doc/de/*.xml~~
/home/croft/icinga-doc/en/*.old
/home/croft/icinga-doc/de/*.old
